@import '../../../styles';

.recipeSearch {
  font-family: $font-primary;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;

  &_carousel {
    width: 75%;
  }

  &:focus {
    outline-color: $color-primary;
  }
}
