<div class="recipeSearch">
  <input
    class="recipeSearch_input"
    id="recipe-search"
    [ngClass]="comp === 'carousel' ? 'recipeSearch_input-carousel' : 
      comp === 'mealsList' ? 'recipeSearch_input-mealsList' : ''"
    placeholder="Search Recipes"
    type="search"
    #recipeSearch
    (input)="search(recipeSearch.value)"
    (keyup.enter)="onEnter(recipeSearch.value)"
  >
  <i
    class="recipeSearch_icon fas fa-search"
    [ngClass]="comp === 'mealsList' ? 'recipeSearch_icon-mealsList' : ''"
    (click)="search(term)"
    [routerLink]="comp === 'mealsList' ? ['/planner'] : ['/recipes/search']"
    [queryParams]="{keyword: term}"
  ></i>  
</div>
