@import '../../../styles';

.planner {
  overflow-x: hidden;

  &_header {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    
    &-title {
      color: $white;
      font-family: $font-primary;
      padding: 0 1rem;

      &:focus,
      &:hover {
        cursor: pointer;
        outline: none;
      }
    }
  }

  &_content {
    align-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;

    @media only screen and (max-width: 760px) {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      // overflow-x: scroll;
    }
  }
}
