<div class="home" id="top">
  <section class="home_section-one" [style.backgroundImage]="'url(' + image + ')'" id="one">
    <div class="home_hero">
      <span class="home_header">
        <a class="home_header-heading" [routerLink]="['./']" fragment="one">Create Your Personal Cookbook Online</a>
        <ul class="home_header-list">
          <li class="home_item">
            <i class="fas fa-utensils home_icon"></i>
            <a class="home_link"[routerLink]="['./']" fragment="two">Save Favorite Recipes</a>
          </li>
          <li class="home_item">
            <i class="fas fa-utensils home_icon"></i>
            <a class="home_link" [routerLink]="['./']" fragment="three">Import Recipes</a>
          </li>
          <li class="home_item">
            <i class="fas fa-utensils home_icon"></i>
            <a class="home_link" [routerLink]="['./']" fragment="four">Create Grocery Lists</a>
          </li>
          <li class="home_item">
            <i class="fas fa-utensils home_icon"></i>
            <a class="home_link" [routerLink]="['./']" fragment="five">Plan Meals</a>
          </li>
        </ul>
      </span>
      <div class="home_form">
        <app-register *ngIf="!login" [login]="toggleForm"></app-register>
        <app-login *ngIf="login" [register]="toggleForm"></app-login>
      </div>
    </div>
  </section>
  <div class="home_form-mobile">
    <app-register *ngIf="!login" [login]="toggleForm"></app-register>
    <app-login *ngIf="login" [register]="toggleForm"></app-login>
  </div>
  <section class="home_section" id="two">
    <a class="home_heading" [routerLink]="['./']" fragment="two">Save Favorite Recipes</a>
    <div class="home_content">
      <img class="home_image" src="https://picsum.photos/500/300" />
      <div class="home_text">
        <p><i class="fas fa-utensils home_text-icon"></i>Store all of your favorite recipes in one place</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Add original recipes or recipes from cookbooks</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Import recipes from supported sites online</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Search your saved recipes</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Rate your saved recipes and add notes</p>
      </div>
    </div>
  </section>
  <section class="home_section" id="three">
    <a class="home_heading" [routerLink]="['./']" fragment="three">Import Recipes</a>
    <div class="home_content">
      <div class="home_text">
        <p><i class="fas fa-utensils home_text-icon"></i>Enter the url to import the recipe</p>
        <ul class="home_text-list">
          <p><i class="fas fa-utensils home_text-icon"></i>Supported Sites Include:</p>
          <li class="home_text-listItem"><i class="home_text-listItem-icon fas fa-cookie"></i>AllRecipes</li>
          <li class="home_text-listItem"><i class="home_text-listItem-icon fas fa-cookie"></i>Genius Kitchen</li>
          <li class="home_text-listItem"><i class="home_text-listItem-icon fas fa-cookie"></i>Food Network</li>
          <li class="home_text-listItem"><i class="home_text-listItem-icon fas fa-cookie"></i>And more!</li>
        </ul>
      </div>
      <img class="home_image" src="/assets/images/screenshots/import_screenshot.PNG" alt="import_screenshot" />
      <a class="home_cta cta" [routerLink]="['/home/demo/import']">
        Check It Out
        <i class="fas fa-angle-right cta-icon"></i>
      </a>
    </div>
  </section>
  <section class="home_section" id="four">
    <a class="home_heading" [routerLink]="['./']" fragment="four">Create Grocery Lists</a>
    <div class="home_content">
      <img class="home_image" src="/assets/images/screenshots/grocery_screenshot.PNG" alt="grocery_screenshot" />
      <div class="home_text">
        <p><i class="fas fa-utensils home_text-icon"></i>Input items into your grocery list</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Add a list item from recipe ingredients list</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Just click this symbol <i class="home_text-groceryIcon fas fa-cart-plus"></i> next to the ingredient</p>
        <p><i class="fas fa-utensils home_text-icon"></i>Check off completed items as you go</p>
      </div>
    </div>
  </section>
  <section class="home_section" id="five">
      <a class="home_heading" [routerLink]="['./']" fragment="five">Plan Meals</a>
      <!-- <div class="home_content"> -->
      <img class="home_calendar" src="https://picsum.photos/1000/500" />
      <!-- </div> -->
    </section>
  <a class="home_top" [routerLink]="['./']" (click)="scrollToTop()" *ngIf="showTop">
    <i class="fas fa-chevron-circle-up"></i>
  </a>
</div>
