@import '../../../styles';

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  &_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;

    &:nth-child(odd) {
      background-color: $color-lt-bg;
    }

    &-one {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      -webkit-transition: background 1.5s ease;
      -moz-transition: background 1.5s ease;
      -o-transition: background 1.5s ease;
      -ms-transition: background 1.5s ease;
      transition: background 1.5s ease;
      width: 100%;
    }
  }

  &_form {
    align-items: center;
    background-color: $color-primary;
    border-radius: 0.5rem;
    color: $white;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    opacity: 0.85;
    padding: 1rem 3rem;
    width: 60%;
  }

  &_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
  }

  &_cta {
    align-self: flex-end;
  }

  &_heading {
    align-self: flex-start;
    color: $color-primary;
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem 2rem;
    text-decoration: none;

    &-one {
      color: $white;
      line-height: 2;
      padding-top: 1rem;
    }
  }

  &_top {
    color: $color-primary;
    font-size: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    text-decoration: none;
  }

  &_text {
    font-size: 1.2rem;
    text-align: left;
    text-overflow: wrap;
    width: 40%;
  }

  &_list {
    padding-left: 2rem;
  }

  &_icon {
    padding-right: 0.5rem;
  }

  &_link {
    color: $white;
    font-family: $font-primary;
    font-size: 1.5rem;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
  
  &_item {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}