<div class="recipes">
  <app-image-carousel></app-image-carousel>
  <input class="recipes_search" type="search" placeholder="Search New Recipes" />
  <div class="recipes_header">
    <h2 class="recipes_header-text">{{ greeting }}</h2>
    <div class="recipes_buttons">
      <button class="recipes_button" type="button" [routerLink]="'./add'">Add Recipe</button>
      <button class="recipes_button" type="button" [routerLink]="'./import'">Import Recipe</button>
    </div>
  </div>
  <ul class="recipes_list" *ngIf="mealRecipes">
    <li class="recipes_item" *ngFor="let recipe of mealRecipes.slice(0, 4)" [routerLink]="['/recipes', recipe.id]">
      <app-recipes-item [recipe]="recipe"></app-recipes-item>
    </li>
  </ul>
  <h2 class="recipes_header-text">More Recipes</h2>
  <ul class="recipes_grid">
    <li class="recipes_item" *ngFor="let recipe of recipes | async" [routerLink]="['/recipes', recipe.id]">
      <app-recipes-item [recipe]="recipe"></app-recipes-item>
    </li>
  </ul>
  <a class="recipes_top" (click)="scrollToTop()" *ngIf="showTop">
    <i class="fas fa-chevron-circle-up"></i>
  </a>
</div>
