<div class="recipeImport">
  <!-- <div class="recipeImport_cta">
    <a class="cta" [routerLink]="'../'">
      <i class="fas fa-angle-left cta-icon"></i>
      Back to My Recipes
    </a>
  </div> -->
  <div class="recipeImport_header">
    <h1 class="recipeImport_header-title">Add Recipe</h1>
  </div>
  <div class="recipeImport_container">
    <form class="recipeImport_form" [formGroup]="importForm">
      <h2 class="recipeImport_title">Import Recipe</h2>
      <input class="recipeImport_control" type="text" formControlName="url" placeholder="Import from url">
      <button
        class="recipeImport_button"
        type="submit"
        [disabled]="!importForm.valid"
        (click)="getUrl(importForm.value, importForm.status)"
      >
        Import
      </button>
    </form>
  </div>
</div>
