<div class="recipeImport">
  <div class="recipeImport_header">
    <h1 class="recipeImport_header-title">Import Recipe</h1>
  </div>
  <div class="recipeImport_container">
    <form class="recipeImport_form" [formGroup]="importForm">
      <h2 class="recipeImport_title">Import Recipe</h2>
      <p class="recipeImport_error">{{ errorMessage }}</p>
      <input class="recipeImport_control" type="text" formControlName="url" placeholder="Import from url">
      <button
        class="recipeImport_button"
        type="submit"
        [disabled]="!importForm.valid"
        (click)="getUrl(importForm.value, importForm.status)"
      >
        Import
      </button>
    </form>
    <ul class="recipeImport_sites">
      <h2 class="recipeImport_sites-title">Supported Sites</h2>
      <li class="recipeImport_sites-item" *ngFor="let site of sites">
        <a [href]="site.link" target="_blank">{{ site.name }}</a>
      </li>
    </ul>
  </div>
</div>
