<div
  class="mealsList"
  mwlDroppable
  (drop)="externalDrop($event.dropData.event)"
  dragOverClass="drag-over"
>
  <h2 class="mealsList_title">Recipes</h2>
  <div class="mealsList_search">
    <app-recipe-search [comp]="'mealsList'"></app-recipe-search>
  </div>
  <div class="mealsList_container">
    <p class="mealsList_noEvents" *ngIf="events.length === 0">No recipes</p>
    <ul class="mealsList_list">
      <li
        class="mealsList_recipe"
        *ngFor="let recipe of recipes$ | async"
        mwlDraggable
        [dropData]="{event: event}"
        dragActiveClass="drag-active">
        <a href="javascript:;">
          <app-recipes-item [recipe]="recipe"></app-recipes-item>
          <!-- {{ event.title }} -->
        </a>
      </li>
    </ul>
  </div>
</div>
