@import '../../../styles';

.mealsList {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  &_title {
    margin: 0;
    font-family: $font-primary;
    color: $color-primary;
  }

  &_search {
    padding: 1rem 0;
  }

  &_noRecipes {
    font-family: $font-primary;
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  &_recipe {
    margin: 1rem auto;
    width: 250px;
  }
}

.drag-active {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.drag-over {
  background-color: #eee;
}
