<div class="recipeForm">
  <a class="recipeForm_cta cta" [routerLink]="'../'">
    <i class="fas fa-angle-left cta-icon"></i>
    Back to My Recipes
  </a>
  <h2 class="recipeForm_title">Add Recipe</h2>
  <form class="recipeForm_form" [formGroup]="recipeForm">
    <div class="recipeForm_row">
      <label class="recipeForm_label">
        Title
        <span class="recipeForm_required">*</span>
      </label>
      <input class="recipeForm_control" type="text" formControlName="title">
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">
        My Rating
        <span class="recipeForm_required">*</span>
      </label>
      <div class="recipeForm_stars">
        <span>
          <label for="r1">
            <i
              class="fa-star recipeForm_star"
              [ngClass]="(hover >= 1) ? 'fas' : 'far'"
              (mouseover)="onHover(1)"
              (mouseleave)="onHover(0)"
              *ngIf="stars === undefined"
            ></i>
            <i class="fas fa-star recipeForm_star" *ngIf="stars >= 1"></i>
          </label>
          <input class="recipeForm_radio" id="r1" type="radio" value="1" formControlName="myRating">
        </span>
        <span>
          <label for="r2">
            <i
              class="fa-star recipeForm_star"
              [ngClass]="(hover >= 2) ? 'fas' : 'far'"
              (mouseover)="onHover(2)"
              (mouseleave)="onHover(0)"
              *ngIf="stars === undefined || stars < 2"
            ></i>
            <i class="fas fa-star recipeForm_star" *ngIf="stars >= 2"></i>
          </label>
          <input class="recipeForm_radio" id="r2" type="radio" value="2" formControlName="myRating">
        </span>
        <span>
          <label for="r3">
            <i
              class="fa-star recipeForm_star"
              [ngClass]="(hover >= 3) ? 'fas' : 'far'"
              (mouseover)="onHover(3)"
              (mouseleave)="onHover(0)"
              *ngIf="stars === undefined || stars < 3"
            ></i>
            <i class="fas fa-star recipeForm_star" *ngIf="stars >= 3"></i>
          </label>
          <input class="recipeForm_radio" id="r3" type="radio" value="3" formControlName="myRating">
        </span>
        <span>
          <label for="r4">
            <i
              class="fa-star recipeForm_star"
              [ngClass]="(hover >= 4) ? 'fas' : 'far'"
              (mouseover)="onHover(4)"
              (mouseleave)="onHover(0)"
              *ngIf="stars === undefined || stars < 4"
            ></i>
            <i class="fas fa-star recipeForm_star" *ngIf="stars >= 4"></i>
          </label>
          <input class="recipeForm_radio" id="r4" type="radio" value="4" formControlName="myRating">
        </span>
        <span>
          <label for="r5">
            <i
              class="fa-star recipeForm_star"
              [ngClass]="(hover >= 5) ? 'fas' : 'far'"
              (mouseover)="onHover(5)"
              (mouseleave)="onHover(0)"
              *ngIf="stars === undefined || stars < 5"
            ></i>
            <i class="fas fa-star recipeForm_star" *ngIf="stars >= 5"></i>
          </label>
          <input class="recipeForm_radio" id="r5" type="radio" value="5" formControlName="myRating">
        </span>
      </div>
    </div>
    <div class="recipeForm_group">
      <label class="recipeForm_label recipeForm_above">
        Ingredients
        <span class="recipeForm_required">*</span>
      </label>
      <textarea
        class="recipeForm_textArea"
        type="text"
        placeholder="List ingredients one per line..."
        formControlName="ingredients">
      </textarea>
    </div>
    <div class="recipeForm_group">
      <label class="recipeForm_label recipeForm_above">
        Directions
        <span class="recipeForm_required">*</span>
      </label>
      <textarea
        class="recipeForm_textArea"
        type="text"
        placeholder="List steps one per line..."
        formControlName="directions">
      </textarea>
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">Prep Time (mins)</label>
      <input class="recipeForm_number" type="number" formControlName="prepTime">
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">
        Cook Time (mins)
        <span class="recipeForm_required">*</span>
      </label>
      <input class="recipeForm_number" type="number" formControlName="cookTime">
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">Total Time (mins)</label>
      <input class="recipeForm_number" type="number" formControlName="totalTime">
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">
        Yield (Servings)
        <span class="recipeForm_required">*</span>
      </label>
      <input class="recipeForm_number" type="number" formControlName="yield">
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">
        Meals
        <span class="recipeForm_required">*</span>
      </label>
      <select class="recipeForm_control" formControlName="meals" multiple="true">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="snack">Snack</option>
        <option value="dessert">Dessert</option>
        <option value="side">Side</option>
        <option value="appetizer">Appetizer</option>
      </select>
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">
        Calories
        <span class="recipeForm_required">*</span>
      </label>
      <input class="recipeForm_number" type="number" formControlName="calories">
      <a
        class="recipeForm_link"
        href="https://www.verywellfit.com/recipe-nutrition-analyzer-4157076"
        target="_blank"
        (click)="copyIngredients(recipeForm.value)"
      >
        Calculate Calories
      </a>
      <div class="recipeForm_tooltip">
        <p>Copies entered ingredients and opens to calorie calculator to paste ingredients to.</p>
      </div>
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">Notes</label>
      <input class="recipeForm_control" type="text" formControlName="notes">
    </div>
    <div class="recipeForm_row">
      <label class="recipeForm_label">Tags</label>
      <input class="recipeForm_control" type="text" formControlName="tags" placeholder="Separate with comma..." list="tags">
      <datalist id="tags">
      </datalist>
    </div>
    <button
      class="recipeForm_button"
      type="submit"
      [disabled]="!recipeForm.valid"
      (click)="addRecipe(recipeForm.value, recipeForm.status)"
    >
      Add
    </button>
  </form>
</div>
