@import '../../../styles';

.recipesItem {
  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    outline: none;
  }

  &_row {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  &_container {
    background-color: $color-primary;
    width: 100%;
  }
  
  &_text {
    color: $white;
    font-family: $font-primary;
    line-height: 0;
    margin: 0;
    padding: 0 1rem;

    &-title {
      font-size: 1.2rem;
    }

    &-num {
      font-size: 1rem;
    }
  }

  &_image {
    height: auto;
    object-fit: cover;
    width: 250px;
  }
}

// .mealsList_image {
//   height: auto;
//   object-fit: cover;
//   width: 100px;
// }