@import '../../../styles';

.carousel {
  background-color: $color-primary;
  height: 400px;
  position: relative;

  @media only screen and (max-width: 760px) {
    height: 200px;
  }

  &_image {
    height: 400px;
    object-fit: cover;
    width: 100%;

    @media only screen and (max-width: 760px) {
      height: 200px;
    }
  }

  &_search {
    font-family: $font-primary;
    font-size: 1.2rem;
    left: 14%;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &_search-mobile {
    @media only screen and (max-width: 760px) {
      display: none;
    }
  }

  &_caption {
    background-color: $color-primary;
    bottom: 0;
    color: $white;
    font-family: $font-primary;
    font-size: 1.2rem;
    max-width: 25%;
    padding: 1rem 2rem;
    position: absolute;
    right: 0;
    text-align: center;

    @media only screen and (max-width: 760px) {
      bottom: auto;
      font-size: 1rem;
      max-width: 45%;
      padding: 1rem;
      top: 0;
    }

    &-text {
      color: $white;
    }

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &_title {
    align-items: center;
    background-color: rgba($color: $black, $alpha: 0.3);
    color: $white;
    display: flex;
    font-family: $font-primary;
    font-size: 2rem;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    
    @media only screen and (max-width: 760px) {
      font-size: 1rem;
      text-overflow: ellipsis;
    }
  }

  &_buttons {
    bottom: 1rem;
    display: flex;
    left: 47%;
    position: absolute;

    @media only screen and (max-width: 1030px) {
      left: 45%;
    }

    @media only screen and (max-width: 760px) {
      left: 40%;
    }

    &-dots {
      display: flex;
    }

    &-dot {
      color: $white;
      font-size: 0.8rem;
      padding-right: 0.5rem;

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }
  }
}
