<div class="carousel">
  <img class="carousel_image" [src]="image.src" />
  <div [ngClass]="mobile ? 'carousel_search-mobile' : 'carousel_search'">
    <app-recipe-search *ngIf="search" [comp]="'carousel'"></app-recipe-search>
  </div>
  <div class="carousel_caption" *ngIf="lowerRightCaption">
    <a class="carousel_caption-text">{{ lowerRightCaption }}</a>
  </div>
  <div class="carousel_title" *ngIf="title">
    <h1 class="carousel_title-text">{{ title }}</h1>
  </div>
  <div class="carousel_buttons">
    <div class="carousel_buttons-dots" *ngFor="let image of images; let i = index">
      <i
        class="carousel_buttons-dot"
        (click)="selectImage(i)"
        [ngClass]="i === currentIndex ? 'fas fa-circle' : 'far fa-circle'"
      ></i>
    </div>
  </div>
</div>